.the_body {
    background-color: black;
    background-image: url('../images/elements/black gun.jpg');
    font-family: 'Khand', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#subheader_top {
    color: white;
}

.profile-form {
    background: white;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.profile-info {
    display: flex;
    align-items: flex-start;
}

.container {
    color: black;
}

.text-paragraph {
    text-align: center;
    color: tomato;
}

.profile-subheader {
    text-align: center;
}

.profile-subheader2 {
    text-align: center;
}

.profile {
    padding: 20px;
}

.profile-header {
    text-align: center;
    color: white;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.avatar-selection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.avatar-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.avatar-img:hover,
.avatar-img:focus {
    transform: scale(1.1);
    border-color: #000;
}

/* Style for when an avatar is selected */
input[type="radio"]:checked+.avatar-img {
    border-color: #000;
}

.btn-animate {
    color: white;
    animation: pulseAnimation 2s infinite;
    transition: transform 0.3s ease;
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2);
    }

    150% {
        transform: scale(1);
    }
}